<configuration>
   <system.webServer>
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".webm" mimeType="video/webm" />
      </staticContent>
      <rewrite>
         <rules>
            <rule name="Rewrite to index">
               <match url="^[^\\.]*$" />
               <action type="Rewrite" url="/index.html [L]" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>