<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="ksw">
               <match url="(.*)" />
               <action type="Redirect" url="http://kswdemo.azurewebsites.net" />
            </rule>
         </rules>
      </rewrite>
      <staticContent>
         <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
         <mimeMap fileExtension=".webm" mimeType="video/webm" />
      </staticContent>
   </system.webServer>
</configuration>