<div class="panel panel-card compose-signal">
      <form>
        <textarea class="form-control no-border" rows="3" placeholder="Compose Signal..." data-ng-click="showBottomPart()" data-ng-model="signal.content"></textarea>
        <div class="tagged-people" data-ng-if="signal.taggedPeople.length > 0">
                <img alt="NA" data-ng-repeat="person in signal.taggedPeople" data-ng-src="{{person | kswImageFilter: 46:person.id}}"/>
            </div>

            <div class="attached-files lt p" data-ng-if="signal.attachments.length > 0">
                <label data-ng-repeat="attachment in signal.attachments">
                    {{attachment.name}}
                    <i class="fa fa-close" data-ng-click="removeAttachment(attachment)"></i>
                </label>
            </div>

            <div class="signal-attachments">
            </div>
      </form>
      <div class="lt p signal-bottom">
        <button ng-click="postSignal(signal)" class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
        <ul class="nav nav-pills nav-sm">
          <li>
            <i class="mdi-social-person-add text-lg m-t-sm pull-left" data-ng-click="showPeoplePicker()"></i>
            <!-- <a href><i class="fa fa-camera"></i></a> -->
            </li>          

          <li class="">
            <i class="mdi-editor-attach-file text-lg m-t-sm pull-left signal-attachment">
              <input type="file" name="upload" data-ksw-file-on-change="onAttachmentChange()" multiple="true"/>
            </i>
          </li>

          <li>
            <div class="signal-audience">
                <a href="#">Audience: <b>All Employees</b></a>
            </div>
          </li>
        </ul>
      </div>
</div>