<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-card">
            <form>
                <textarea class="form-control no-border" rows="3" placeholder="Write something..."></textarea>
            </form>
            <div class="lt p">
                <button class="btn btn-info pull-right btn-sm p-h font-bold">Post</button>
                <ul class="nav nav-pills nav-sm">
                    <li><a href><i class="fa fa-camera"></i></a></li>
                    <li><a href><i class="fa fa-video-camera"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">
            <div class="col-sm-12">
                <a href="" class="btn btn-success">NEW SPACE</a>
                <a href="" class="btn btn-success">NEW DOC</a>
                <a href="" class="btn btn-success">UPLOAD</a>
                <a href="" class="btn btn-success">WEB LINK</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 pull-right">
                <select ng-model="selectedSpaceGroup" class="form-control"
                        ng-options="group as group.value for group in spaceGroupBy"
                        data-ng-change="spaceGroupOnSelect(selectedSpaceGroup)">
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6" data-ng-repeat="(groupName,groupValue) in selectedSpaces">
                <h4>{{groupName | capitalize}}</h4>
                <div class="md-list md-whiteframe-z0 bg-white m-b">
                    <div class="md-list-item"  data-ng-repeat="space in groupValue" data-ng-click="spaceOnSelect(space)">
                        <div class="md-list-item-left">
                            <img  data-ng-src="{{space | kswSpaceIconFilter}}" class="w-full circle">
                        </div>
                        <div class="md-list-item-content">
                            <h3 class="text-md" title="{{space.title}}">{{space.title}}</h3>
                            <small class="font-thin" title="{{space.creator.firstName + ' '+ space.creator.lastName}}"> <strong>By : </strong> {{space.creator.firstName + ' '+ space.creator.lastName}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>