
<div class="instruction">
    <div class="grid-block medium-horizontal align-center grid-block">
        <div class="small-10 medium-10 large-10 grid-container instruction-body">
            <img src="assets/img/310x150.png"/>
            <a href="/" class="back-to-home">BACK TO HOME</a>
        </div>
        <div class="small-10 medium-10 large-10 grid-container instruction-body">
            <h3 class="text-color-white">Installation Instruction</h3>
            <p class="text-color-white">
                Apps make using your PC easier by opening up new ways for you to get things done and have some fun.
                Windows 8.1 and Windows RT 8.1 come with built-in apps that help you socialize, stay in touch,
                share and view documents, organize photos, listen to music, and watch movies, but you can find
                even more apps in the Windows Store.Note: You need to have Windows 8.1 or Windows RT 8.1 to
                see and install apps from the Windows Store. If you don’t have Windows 8.1 or Windows RT 8.1,
                you can check out some of the popular apps available in the Store.
            </p>
            <p class="text-color-white">
                Browse featured apps and lists. If you're not sure what kind of app you want,
                a good place to start is the featured apps in the Store. Start scrolling to the
                right to view lists of popular apps, new releases, top paid or free apps.
                (To see all the apps in a specific list, tap or click the name of the list.)
                You'll also see personalized app recommendations in Picks for you, based on apps you own and apps you've rated.
            </p>

        </div>
    </div>
</div>