<ul class="nav nav-md nav-tabs nav-lines b-info">
        <li class="active">
            <a href data-toggle="tab" data-target="#signals">SIGNALS</a>
        </li>
        <li>
            <a href data-toggle="tab" data-target="#attributes">ATTRIBUTES</a>
        </li>
        <li>
            <a href data-toggle="tab" data-target="#tags">TAGS</a>
        </li>
        <li>
            <a href data-toggle="tab" data-target="#relations">RELATIONS</a>
        </li>
    </ul>
    <div class="tab-content p m-b-md b-t b-t-2x">
        <div role="tabpanel" class="tab-pane animated fadeIn active" id="signals">
            Signal coming soon
        </div>

        <div role="tabpanel" class="tab-pane animated fadeIn" id="attributes">
            Attribute coming soon
        </div>
        <div role="tabpanel" class="tab-pane animated fadeIn" id="tags">
            Tag coming soon
        </div>
        <div role="tabpanel" class="tab-pane animated fadeIn" id="relations">
            Relation coming soon
        </div>
    </div>